{% extends 'wrapper.html' %}
{% load staticfiles %}

{% block sidebar %}
    <ul class="nav nav-pills mb-4 mb-lg-0 flex-lg-column justify-content-around pr-lg-4">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/profile">Личный кабинет</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link active bg-dark" href="/settings">Настройка игрофикации</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Список пользователей LMS</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <h4>Ваша LMS</h4>
    </div>
    <div class="row border-top pt-2 pb-2">
        <div class="col-sm-4">
            <label class="text-muted" for="email">LMS </label>
        </div>
        <div class="col-sm-4 text-center">
            <span id="email" class="pl-1">{{ lms }}</span>
        </div>
        <div class="col-sm-4 text-right">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                {% if lms == 'не создана' %}
                    Создать
                {% else %}
                    Изменить
                {% endif %}
            </button>
        </div>
    </div>
    {% if form.email.errors %}
        <div class="collapse show" id="collapseExample">
    {% else %}
        <div class="collapse" id="collapseExample">
    {% endif %}
{% if lms == 'не создана' %}
    {% include 'settings/lms_create_form.html' %}
{% else %}
    {% include 'settings/lms_change_name_form.html' %}
{% endif %}
</div>
<div class="row">
    <h4>Компоненты игрофикации</h4>
</div>
<div class="container-fluid border-top pl-0 pr-0">
    <div class="row pt-2 pb-2 align-items-center">
        <div class="col-6">
            <img src="{% static '/img/if_sport_badges-07.png' %}" class="img-fluid" height="40" width="40">
            <span>События</span>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-outline-primary" href="/settings/events">Настроить</a>
        </div>
    </div>
    <div class="row pt-2 pb-2 align-items-center">
        <div class="col-6">
            <img src="{% static '/img/if_sport_badges-06.png' %}" class="img-fluid" height="40" width="40">
            <span>Уровни</span>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-outline-primary" href="/settings/levels">Настроить</a>
        </div>
    </div>
    <div class="row pt-2 pb-2 align-items-center">
        <div class="col-6">
            <img src="{% static '/img/if_sport_badges-02.png' %}" class="img-fluid" height="40" width="40">
            <span>Бейджи</span>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-outline-primary" href="/settings/badges">Настроить</a>
        </div>
    </div>
    <div class="row pt-2 pb-2 align-items-center">
        <div class="col-6">
            <img src="{% static '/img/if_sport_badges-05.png' %}" class="img-fluid" height="40" width="40">
            <span>Таблицы рейтинга</span>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-outline-primary">Настроить</button>
        </div>
    </div>
</div>

{% endblock %}

