{% extends 'wrapper_sidebar.html' %}
{% load staticfiles %}

{% block sidebar %}
    <div id="dismiss">
        <button class="btn bg-light btn-lg"><span class="fa fa-chevron-circle-left"></span></button>
    </div>
    <ul class="nav nav-pills mb-4 mb-lg-0 flex-column" id ="navSide">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/profile">Личный кабинет</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link active bg-dark" href="/settings">Настройка игрофикации</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Список пользователей LMS</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h5 id="firstTitle">Ваша LMS</h5>
    <div class="row border-top pt-2 pb-3 align-items-center">
        <div class="col">
            <span class="text-muted">LMS </span>
        </div>
        <div class="col text-center">
            <span id="email" class="pl-1">{{ lms }}</span>
        </div>
        <div class="col text-right">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                {% if lms == 'не создана' %}
                    Создать
                {% else %}
                    Изменить
                {% endif %}
            </button>
        </div>
    </div>
    {% if form.email.errors %}
        <div class="collapse show pb-1" id="collapseExample">
    {% else %}
        <div class="collapse pb-1" id="collapseExample">
    {% endif %}
{% if lms == 'не создана' %}
    {% include 'settings/lms_create_form.html' %}
{% else %}
    {% include 'settings/lms_change_name_form.html' %}
{% endif %}
</div>
<h5 id="firstTitle">Компоненты игрофикации</h5>
<div class="row pt-2 pb-2 align-items-center  border-top">
        <div class="col">
            <img src="{% static '/img/if_sport_badges-07.png' %}" class="img-fluid" height="40" width="40">
            <span>События</span>
        </div>
        <div class="col text-right">
            <a class="btn btn-outline-primary" href="/settings/events">Настроить</a>
        </div>
    </div>
    <div class="row pt-2 pb-2 align-items-center">
        <div class="col">
            <img src="{% static '/img/if_sport_badges-06.png' %}" class="img-fluid" height="40" width="40">
            <span>Уровни</span>
        </div>
        <div class="col text-right">
            <a class="btn btn-outline-primary" href="/settings/levels">Настроить</a>
        </div>
    </div>
    <div class="row pt-2 pb-2 align-items-center">
        <div class="col">
            <img src="{% static '/img/if_sport_badges-02.png' %}" class="img-fluid" height="40" width="40">
            <span>Бейджи</span>
        </div>
        <div class="col text-right">
            <a class="btn btn-outline-primary" href="/settings/badges">Настроить</a>
        </div>
    </div>
    <div class="row pt-2 pb-2 align-items-center">
        <div class="col">
            <img src="{% static '/img/if_sport_badges-05.png' %}" class="img-fluid" height="40" width="40">
            <span>Рейтинг</span>
        </div>
        <div class="col text-right">
            <button class="btn btn-outline-primary">Настроить</button>
        </div>
    </div>

{% endblock %}
