{% extends 'settings/index.html' %}
{% block content%}

    <h5 id="firstTitle">Уровни</h5>
    <div class="row pt-4 pb-4 border-top align-items-sm-center">
        <label class="col-6 col-sm-4 text-muted">Максимальное количество уровней</label>
        <div class="col-6 col-sm-4 text-sm-center text-right">
            <span id="maxLevel" value ="{{maxLevel}}">
                {{ maxLevel }}
            </span>
        </div>
        <div class="col-12 col-sm-4 text-right">
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#setMaxLevel">Изменить</button>
        </div>
    </div>

    <div class="row">
        <form class="col-12" action="/settings/add_level_option" method="post">
        {% csrf_token %}
            <div class="form-group row align-items-sm-center">
                <label for="id_leveloption" class="col-4 text-muted">Новое условие</label>
                <div class="col-8 col-sm-4">
                    <div class="input-group">
                        <select class="custom-select" onchange="checkEvent(this.selectedOptions[0].innerHTML, this)" id="id_event" name="event">
                            <option selected value="Не выбрано">Выберите...</option>
                            {% for event in events %}
                                <option value="{{ event.id }}">{{ event }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append col-4 p-0">
                            <input type="number" class="form-control" name="amount" id="id_amount" placeholder="Количество" required disabled min="0" oninput="validity.valid||(value='');">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-right pt-2 pt-sm-0">
                    <button type="submit" class= "btn btn-outline-primary">Добавить</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid border-top mt-4 mb-3" style="background: repeating-linear-gradient(135deg,transparent,transparent 5px,hsla(0,0%,70%,.03) 0,hsla(0,0%,70%,.03) 10px) hsla(0,0%,70%,.03);">
        <div class="card-deck-wrapper pb-5 pt-5">
            <div class="card-deck">
                {% for option in options %}
                    {% if option.isActive %}
                        <div class="card text-center border-dark">
                    {% else %}
                        <div class="card text-center">
                    {% endif %}
                        <div class="card-body">
                            {% if option.isActive %}
                                <h5 class="card-title">{{ option.event }}</h5>
                            {% else %}
                                <h5 class="card-title text-muted">{{ option.event }}</h5>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            {% if option.isActive %}
                                <button id ="{{ option.id }}" class="btn btn-light fas fa-power-off" onclick="turnoff(this.id);"></button>
                            {% else %}
                                <button id ="{{ option.id }}" class="btn btn-light fas fa-plug" onclick="turnon(this.id);"></button>
                            {% endif %}
                            <button id ="{{ option.id }}" class=" btn badge badge-dark badge-pill text-light" data-toggle="modal" data-target="#optionAmount" value ="{{ option.amount }}">{{ option.amount }}</button>
                            <button id ="{{ option.id }}" class="btn btn-light fas fa-trash" data-toggle="modal" data-target="#optionDeleteConfirm"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
    <div class="modal my-fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="setMaxLevel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Максимальное количество уровней</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/settings/set_maxLevel" method="post">
                    <div class="modal-body">
                         {% csrf_token %}
                        <div class="form-group row">
                             <label for="id_maxlevel" class="form-check-label text-muted col-4">Количество уровней</label>
                            <div class="col"><input type="number" class="form-control" id="id_maxlevel" name="maxlevel" min="0" oninput="validity.valid||(value='');"></div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal my-fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="optionAmount">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Изменение условия</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/settings/set_level_amount/" method="post">
                    <div class="modal-body">
                         {% csrf_token %}
                        <div class="form-group row">
                             <label for="id_amountnew" class="form-check-label text-muted col-5">Количество действий</label>
                            <div class="col"><input type="number" class="form-control" id="id_amountnew" name="amountnew" min="0" oninput="validity.valid||(value='');"></div>
                        </div>
                        <input type="number" id="id_cur_option" name="cur_option" HIDDEN>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal my-fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="optionDeleteConfirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h5>Вы действительно хотите удалить условие?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmButton" onclick="delete_option()">Да</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
   <script>

        currentid = -1

        function OnSuccess (data) {
            if(data='ok'){
                location.reload()
            }
            else
                alert('Произошла ошибка')

    }

        function delete_option() {
            if (currentid != -1) {
                $.post("/settings/deloption/", {id: currentid}, OnSuccess)
            }
        }

        $('#optionDeleteConfirm').on('show.bs.modal', function (event) {
        button = $(event.relatedTarget);
        currentid = button[0].id
})


       $('#setMaxLevel').on('show.bs.modal', function (event) {
           el = document.getElementById('maxLevel');
           maxlevel = el.innerText;
           if (maxlevel != 'не задано'){
               el2 = document.getElementById('id_maxlevel');
               el2.value = maxlevel;
           }
       })

        $('#optionAmount').on('show.bs.modal', function (event) {
        button = $(event.relatedTarget);
        currentid = button[0].id;
        el = document.getElementById('id_cur_option');
        el.value = currentid;
        amount = button[0].value;
        if (amount != 'задать'){
            el2 = document.getElementById('id_amountnew');
            el2.value = amount
        }
})

   function checkEvent(event, input) {
       events = document.getElementsByClassName('card-title')
        for (i in events)
        {
            if (event == events[i].innerHTML)
            {
                input.value = "Не выбрано";
                Notify.generate('Такое условие уже есть!', 'Ошибка', 3);
            }
        }

       if (event != "Не выбрано")
       {
           el = document.getElementById('id_amount');
           el.disabled = false;

       }
       else
       {
           el = document.getElementById('id_amount');
           el.value = "";
           el.disabled = true;
       }
   }

   function turnoff(id) {

       $.post("/settings/turnoff_level/", {id: id}, OnSuccess)
   }

   function turnon(id) {

       $.post("/settings/turnon_level/", {id: id}, OnSuccess)
   }

   </script>

{% endblock %}