<form action="/settings/" method="post">
    {% csrf_token %}
    <div class="form-group row pt-2 pb-2 border-top">
        <label for="id_Name" class="col col-form-label text-muted">Имя системы</label>
        <div class="col">
            <input type="text" class="form-control" id="id_Name" required  name="Name">
            {% for error in form.Name.errors %}
                <div class="text-danger text-center">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group row text-left align-items-center">
        <label for="id_PointsIsOn" class="form-check-label text-muted col">Вести подсчет очков</label>
        <input type="checkbox" class="form-check ml-3" id="id_PointsIsOn" name="PointsIsOn" onclick="hide(this)">
        <div class="col" id ='maxGroup' style="display: none">
            <input type="number" class="form-control" id="id_MaxPoints" name="MaxPoints" placeholder="Максимальное количество очков">
            {% for error in form.MaxPoints.errors %}
                <div class="text-danger text-center">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="col text-right">
            <button type="submit" class="btn btn-primary">Создать</button>
        </div>
    </div>
</form>

<script>
    function hide(element) {

        if(element.checked) {
            el = document.getElementById('maxGroup');
            el.style.display = 'flex';
        }
        else {
            el = document.getElementById('maxGroup');
            el.style.display = 'none';
        }
    }

</script>