{% extends 'settings/index.html' %}
{% load staticfiles %}
{% block head %}
 <style>
    .thumbnails.image_picker_selector  img {
        width: 60px;
        height: 67px;
    }
    @media (min-width: 1200px)
    {
        #cardBadge{
            max-width: 15rem;
        }
    }
 </style>

{% endblock %}
{% block content %}

    <ul class="nav nav-tabs" role="tablist" id="firstTitle">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#badges" role="tab">Бейджи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#parameters" role="tab">Показатели</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#newbadges" role="tab">Новый бейдж</a>
    </li>
    </ul>


    <div class="tab-content mb-5">
        <div class="tab-pane active mt-4" id="badges" role="tabpanel">
        <div class="container-fluid border-top mt-4 mb-3" style="background: repeating-linear-gradient(135deg,transparent,transparent 5px,hsla(0,0%,70%,.03) 0,hsla(0,0%,70%,.03) 10px) hsla(0,0%,70%,.03);">
            <div class="card-deck-wrapper pb-5 pt-5">
            <div class="card-deck">
            {% for badge in badges %}
                {% if badge.isActive %}
                    <div class="card text-center border-dark pt-4" id="cardBadge">
                {% else %}
                    <div class="card text-center text-muted" id="cardBadge">
                {% endif %}
                    <img class="card-img-top p-2 img-fluid" src="{{ badge.img }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ badge.name }}</h5>
                        <p class="card-text">Условие получения: {{ badge.parameter }}
                            {% if badge.comparison_type == 0 %} = {% endif %}
                            {% if badge.comparison_type == 1 %} > {% endif %}
                            {% if badge.comparison_type == 2 %} < {% endif %}
                            {{ badge.criterion }}</p>
                    </div>
                    <div class="card-footer text-center">
                            {% if badge.isActive %}
                                <button id ="{{ badge.id }}" class="btn btn-light fas fa-power-off" onclick="turnoff(this.id);"></button>
                            {% else %}
                                <button id ="{{ badge.id }}" class="btn btn-light fas fa-plug" onclick="turnon(this.id);"></button>
                            {% endif %}
                            <button id ="{{ badge.id }}" class="btn btn-light fas fa-trash" data-toggle="modal" data-target=".bd-delete-badge"></button>
                        </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
        </div>


        <div class="tab-pane" id="parameters" role="tabpanel">

             <form action="/settings/addparameter" method="post" class="col-12 pt-4">
             {% csrf_token %}
                 <div class="form-group row align-items-sm-center">
                     <label class="col-4 col-sm-3 text-muted">Новый показатель</label>
                     <div class="col-8 pl-0 col-sm-3">
                         <input id="id_name" name="name" class="form-control" type="text" required placeholder="Название">
                     </div>
                     <div class="col-12 text-right col-sm-3">
                         <select class="custom-select col-8" id="id_event" name="event">
                             <option value="-1" selected>Выберите событие</option>
                             {% for event in events %}
                                 <option value="{{ event.id }}">{{ event }}</option>
                             {% endfor %}
                         </select>
                     </div>
                     <div class="col-12 col-sm text-right pt-4 pt-sm-0">
                         <button type="submit" class= "btn btn-outline-primary">Добавить</button>
                     </div>
                 </div>
             </form>


                <ul class="list-group col-12">
                    {% for parameter in parameters %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">{{ parameter.name }}
                        <button id ="{{ parameter.id }}" class="btn btn-light fas fa-trash" data-toggle="modal" data-target=".bd-delete-parameter"></button>
                        </li>
                    {% endfor %}
                </ul>


        </div>

        <div class="tab-pane" id="newbadges" role="tabpanel">
             <form action="/settings/addbadge" method="post" class="col-12 pt-4">
             {% csrf_token %}
                 <div class="form-group row align-items-center">
                     <label for="id_name" class="col-4 col-sm-2 col-form-label text-muted">Название</label>
                     <div class="col-8 col-sm-6">
                         <input id="id_name" name="name" class="form-control" type="text" required>
                     </div>
                 </div>
                 <div class="form-group row align-items-center">
                     <label for="id_parameter" class="col-4 col-sm-2 col-form-label text-muted">Как получить</label>
                         <div class="input-group col-8 col-sm-6">
                             <div class="input-group-append col-12 col-sm-5 p-0">
                             <select class="custom-select col-12" id="id_parameter" name="parameter">
                                 <option selected value="Не выбрано">Выберите...</option>
                                 {% for parameter in parameters %}
                                     <option value="{{ parameter.id }}">{{ parameter }}</option>
                                 {% endfor %}
                             </select>
                             </div>
                            <div class="input-group-append col-12 col-sm-2 pl-sm-1 pl-0 pr-0">
                             <select class="custom-select col-12" id="id_comparison" name="comparison">
                                 <option selected value="0"> = </option>
                                 <option value="1"> > </option>
                                 <option value="2"> < </option>
                             </select>
                             </div>
                             <div class="input-group-append col-12 col-sm-5 pl-sm-1 pl-0 pr-0">
                                 <input type="number" class="form-control" name="criteria" id="id_criteria" placeholder="Количество" required min="0" oninput="validity.valid||(value='');">
                             </div>

                     </div>
                 </div>

                 <div class="form-group row align-items-center">
                     <label for="id_badge" class="col-4 col-sm-2 col-form-label text-muted">Картинка</label>
                     <div class="col col-sm-6">
                         <select class="image_picker_selector" id="id_badge" name="badge">
                             <option data-img-src="{% static 'img/badges/Cup_Badge_Color.png' %}" value = "{% static 'img/badges/Cup_Badge_Color.png' %}" data-img-class="m-0 rounded" width="50px" height="50px">1</option>
                             <option data-img-src="{% static 'img/badges/Growth_Badge_Color.png' %}" value = "{% static 'img/badges/Growth_Badge_Color.png' %}" data-img-class="m-0 rounded">2</option>
                             <option data-img-src="{% static 'img/badges/Idea_Badge_Color.png' %}" value = "{% static 'img/badges/Idea_Badge_Color.png' %}" data-img-class="m-0 rounded">3</option>
                             <option data-img-src="{% static 'img/badges/Like_Badge_Color.png' %}" value = "{% static 'img/badges/Like_Badge_Color.png' %}" data-img-class="m-0 rounded">4</option>
                             <option data-img-src="{% static 'img/badges/Medal_Badge_Color.png' %}" value = "{% static 'img/badges/Medal_Badge_Color.png' %}" data-img-class="m-0 rounded">5</option>
                             <option data-img-src="{% static 'img/badges/Monitor_Badge_Color.png' %}" value = "{% static 'img/badges/Monitor_Badge_Color.png' %}" data-img-class="m-0 rounded">6</option>
                             <option data-img-src="{% static 'img/badges/Star_Badge_Color.png' %}" value = "{% static 'img/badges/Star_Badge_Color.png' %}" data-img-class="m-0 rounded">7</option>
                             <option data-img-src="{% static 'img/badges/Shuttle_Badge_Color.png' %}" value = "{% static 'img/badges/Shuttle_Badge_Color.png'%}" data-img-class="m-0 rounded">8</option>
                         </select>
                     </div>
                 </div>
                 <button type="submit" class= "btn btn-outline-primary">Добавить</button>
             </form>
        </div>
    </div>




{% endblock %}

{% block footer %}

    <div class="modal fade bd-delete-badge" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="badgeDeleteConfirm">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Вы действительно хотите удалить бэйдж?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmButton" onclick="delete_badge()">Да</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-delete-parameter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="parameterDeleteConfirm">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Вы действительно хотите удалить параметр?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmButton" onclick="delete_parameter()">Да</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}





{% block script %}

   <script>

    currentid = -1
    currentpid = -1
    function OnSuccess (data) {
            if(data='ok'){
                location.reload()
            }
            else
                alert('Произошла ошибка')

    }

        function delete_badge() {
            if (currentid != -1) {
                $.post("/settings/delete_badge/", {id: currentid}, OnSuccess)
            }
        }

        function delete_parameter() {
            if (currentpid != -1) {
                $.post("/settings/delete_parameter/", {id: currentpid}, OnSuccess)
            }
        }

        $('#badgeDeleteConfirm').on('show.bs.modal', function (event) {
        button = $(event.relatedTarget);
        currentid = button[0].id
})

    $('#parameterDeleteConfirm').on('show.bs.modal', function (event) {
        button = $(event.relatedTarget);
        currentpid = button[0].id
})

    function turnoff(id) {

       $.post("/settings/turnoff_badge/", {id: id}, OnSuccess)
   }

   function turnon(id) {

       $.post("/settings/turnon_badge/", {id: id}, OnSuccess)
   }


    $("#id_badge").imagepicker()
    $("#id_badgem").imagepicker()
    </script>

{% endblock %}