{% extends 'settings/index.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <h4>Очки</h4>
    </div>
    <div class="row pt-4 pb-4 border-top align-items-center">
        <label class="col-4 text-muted">Подсчет очков</label>
        <div class="col-4 text-center">
            <span>
                {% if pointIsOn %}
                    включен
                {% else %}
                    выключен
                {% endif %}
            </span>
        </div>
        <div class="col text-right">
            {% if pointIsOn %}
                <button class="btn btn-outline-primary" onclick="turn_points_off()">Выключить</button>
            {% else %}
                <button class="btn btn-outline-primary" onclick="turn_points_on()">Включить</button>
            {% endif %}
        </div>
    </div>

    {% if pointIsOn %}
        <div class="row pb-4 align-items-center">
        <label class="col-4 text-muted">Максимальное количество очков</label>
        <div class="col-4 text-center">
            <span id="maxPoints" value ="{{maxPoints}}">
                {{ maxPoints }}
            </span>
        </div>
        <div class="col text-right">
            <button class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-sm3">Изменить</button>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <h4>События</h4>
    </div>
    <div class="row">
        <form action="/settings/events" method="post" class="col-12 pt-4 border-top">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_name" class="col-4 col-form-label text-muted">Новое событие</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="id_name" required  name="name" placeholder="Название события" onchange="validate(this.value, this);">
                    {% for error in form.Name.errors %}
                        <div class="text-danger text-center">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col text-right">
                    <button type="submit" class= "btn btn-outline-primary">Добавить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid border-top mt-4 mb-3" style="background: repeating-linear-gradient(135deg,transparent,transparent 5px,hsla(0,0%,70%,.03) 0,hsla(0,0%,70%,.03) 10px) hsla(0,0%,70%,.03);">
        <div class="card-deck-wrapper pb-5 pt-5">
            <div class="card-deck">
                {% for event in events %}
                    <div class="card text-center border-dark">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.0 }}</h5>
                        </div>
                        <div class="card-footer">
                            {% if pointIsOn %}
                                <button id ="{{ event.0.id }}" class=" btn badge badge-dark badge-pill text-light" data-toggle="modal" data-target=".bd-example-modal-sm2" value ="{{ event.1 }}">{{ event.1 }}</button>
                            {% endif %}
                            <button id ="{{ event.0.id }}" class="btn btn-light fas fa-trash" data-toggle="modal" data-target=".bd-example-modal-sm"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="eventDeleteConfirm">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Вы действительно хотите удалить событие?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmButton" onclick="delete_event()">Да</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="eventPoints">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <form action="/settings/events" method="post">
                         {% csrf_token %}
                        <div class="form-group row ml-2">
                             <label for="id_points" class="form-check-label text-muted col-3">Количество очков</label>
                            <div class="col-8"><input type="number" class="form-control" id="id_points" name="points" min="0" oninput="validity.valid||(value='');"></div>
                        </div>
                        <input type="number" id="id_event" name="event" HIDDEN>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade bd-example-modal-sm3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="setMaxPoints">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <form action="/settings/set_maxPoints" method="post">
                         {% csrf_token %}
                        <div class="form-group row ml-2">
                             <label for="id_maxpoints" class="form-check-label text-muted col-3">Количество очков</label>
                            <div class="col-8"><input type="number" class="form-control" id="id_maxpoints" name="maxpoints" min="0" oninput="validity.valid||(value='');"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>


    currentid = -1;

    function delete_event() {

        if (currentid != -1) {
            $.post("/settings/delevent/", {id: currentid}, OnSuccess)
        }
        }

    function OnSuccess (data) {
            if(data='ok'){
                location.reload()
            }
            else
                alert('Произошла ошибка')

    }

    $('#eventDeleteConfirm').on('show.bs.modal', function (event) {
        button = $(event.relatedTarget);
        currentid = button[0].id
})
    $('#eventPoints').on('show.bs.modal', function (event) {
        button = $(event.relatedTarget);
        currentid = button[0].id;
        el = document.getElementById('id_event');
        el.value = currentid;
        point = button[0].value;
        if (point != 'задать'){
            el2 = document.getElementById('id_points');
            el2.value = point
        }
})

    $('#setMaxPoints').on('show.bs.modal', function (event) {
        el = document.getElementById('maxPoints');
        maxpoints = el.innerText;
        if (maxpoints != 'не задано'){
            el2 = document.getElementById('id_maxpoints');
            el2.value = maxpoints;
        }
})

    function turn_points_on() {
        $.post("/settings/turn_points_on/", OnSuccess)
    }

    function turn_points_off() {
        $.post("/settings/turn_points_off/", OnSuccess)
    }

    function validate(name, el) {
        events = document.getElementsByClassName('card-title')
        for (i in events)
        {
            if (name == events[i].innerHTML)
            {
                el.value = ""
                Notify.generate('Такое событие уже есть!', 'Ошибка', 3);
            }
        }

    }


    </script>
{% endblock %}