{% extends 'wrapper.html' %}
{% block sidebar %}
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
            <a class="nav-link bg-dark active" href="/profile">Личный кабинет</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link text-dark" href="/settings">Настройка игрофикации</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Список пользователей LMS</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <h4>Личные данные</h4>
    <div class="row pt-2 pb-2 border-top">
        <div class="col-4 col-lg-4">
            <label class="text-muted" for="email">Электронный адрес </label>
        </div>
        <div class="col-6 col-lg-4 text-center">
            <span id="email" class="pl-1">{{ email }}</span>
        </div>
        <div class="col-2 col-lg-4 text-right">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Изменить
            </button>
        </div>
    </div>
    {% if form.email.errors %}
        <div class="collapse show" id="collapseExample">
    {% else %}
        <div class="collapse" id="collapseExample">
    {% endif %}
{% include 'personal_page/email_form.html' %}
</div>
</div>

{% endblock %}